django
psycopg2-binary
django-environ
dj-database-url
python-dotenv
django-allauth
requests
pyjwt
cryptography
djangorestframework
django-cors-headers
django-debug-toolbar
Pillow
django-extensions
flake8
black
pytest-django
factory_boy
Faker
pipdeptree
mysqlclient