{% extends "base_generic.html" %}
{% load static %}
{% load api_ai_tags %}  <!-- Załaduj nowy moduł tagów szablonu -->

{% block title %}
Chat with GPT
{% endblock %}

{% block styles %}
<style>
  body, html {
    height: 100%;
  }
  .messages-box {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .message-content {
    white-space: pre-wrap; /* Umożliwia zawijanie wierszy */
    line-height: 1.2; /* Zmniejsza interlinię */
    word-break: break-word; /* Zapewnia łamanie słów */
  }
  .pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .pagination a {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #333;
  }
  .pagination a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  .btn-new-chat {
    margin: 1rem;
  }
</style>
{% endblock %}

{% block content %}
<div class="chat-container flex flex-col h-90 pb-64">
  <div class="card flex-grow flex flex-col">
    <div class="card-header bg-green-500 text-white p-4">Korepetycja z Matematyki klas 2 liceum / technikum</div>
    {% if user.is_authenticated %}
    <div class="bg-green-500 text-white p-4"><h3 class="text-base/7 text-xl">Witaj, {{ user.username }}</h3></div>
    {% endif %}
    <div class="card-body messages-box flex-grow overflow-y-auto p-4 bg-gray-100">
      <ul class="messages-list space-y-4">
        {% for chat in page_obj %}
          {% if chat.user == request.user %}
            <li class="message sent flex flex-col items-start">
              <div class="message-text p-3 bg-green-100 rounded-lg">
                <div class="message-sender font-bold">
                  {{ user.username }}
                </div>
                <div class="message-content">
                  {{ chat.message }}
                </div>
              </div>
            </li>
            <li class="message received flex flex-col items-start">
              <div class="message-text p-3 bg-gray-200 rounded-lg">
                <div class="message-sender font-bold">
                  MatMentorAI
                </div>
                <div class="message-content {{ chat.response|add_class2:"new-class" }}">
                  {{ chat.response }}
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <span class="page-number">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
  </div>
  <form class="message-form flex items-center justify-center p-4 bg-gray-200 fixed bottom-0 left-0 right-0" method="post">
    {% csrf_token %}
    <div class="flex justify-center lg:w-[100%] xl:w-[80%] lg:px-24 mb-36">
      <input type="text" name="message" class="message-input flex-grow p-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring focus:border-blue-300" placeholder="Type your message...">
      <button type="submit" class="btn-send bg-blue-500 text-white p-2 rounded-r-md hover:bg-blue-700">Wyślij</button>
    </div>
  </form>
  <form method="get" action="{% url 'start_new_chat' %}">
    <button type="submit" class="btn-new-chat bg-green-500 text-white p-2 rounded-md hover:bg-green-700">Rozpocznij nowy chat</button>
  </form>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');

    function appendMessage(message, sender) {
      const messageItem = document.createElement('li');
      messageItem.classList.add('message', sender, 'flex', 'flex-col', 'items-start');
      messageItem.innerHTML = `
        <div class="message-text p-3 ${sender === 'sent' ? 'bg-green-100' : 'bg-gray-200'} rounded-lg">
            <div class="message-sender font-bold">
                ${sender === 'sent' ? 'You' : 'AI Chatbot'}
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
      messagesList.appendChild(messageItem);
      messageItem.scrollIntoView({ behavior: "smooth" });
    }

    messageForm.addEventListener('submit', (event) => {
      event.preventDefault();

      const message = messageInput.value.trim();
      if (message.length === 0) {
        return;
      }

      appendMessage(message, 'sent');
      messageInput.value = '';

      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
          'message': message
        })
      })
      .then(response => response.json())
      .then(data => {
        appendMessage(data.response, 'received');
      });
    });
  });
</script>
{% endblock %}
