{% extends "base_generic.html" %}
{% load static %}
{% load api_ai_tags %}  <!-- Załaduj nowy moduł tagów szablonu -->

{% block title %}
Chat with GPT
{% endblock %}

{% block styles %}
<style>
  body, html {
    height: 100%;
  }
  .messages-box {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .message-content {
    white-space: pre-wrap; /* Umożliwia zawijanie wierszy */
    line-height: 2; /* Zmniejsza interlinię */
    word-break: break-word; /* Zapewnia łamanie słów */
  }
  .pagination {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .pagination a {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #333;
  }
  .pagination a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  .btn-new-chat {
    margin: 1rem;
  }
  .loading-spinner {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>
{% endblock %}

{% block content %}
<div class="chat-container flex flex-col h-90 pb-64">
  <div class="card flex-grow flex flex-col">
    <div class="card-header bg-green-500 text-white p-4">Korepetycja z Matematyki</div>
    {% if user.is_authenticated %}
    {% endif %}
    <div class="card-body messages-box flex-grow overflow-y-auto p-4 bg-gray-100">
      <ul class="messages-list space-y-4">
        <li class="message received flex flex-col items-start">
          <div class="flex items-center">
            <img src="{% static 'images/mateu-1.webp' %}" alt="MateU - Robot Tutor" class="w-16 h-16 rounded-full mr-4">
            <div class="message-text p-3 bg-gray-200 rounded-lg">
              <div class="message-sender font-bold">MateU</div>
              <div class="message-content">Cześć {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}, jestem MateU - twój wirtualny mentor matematyczny. W czym mogę ci pomóc?</div>
            </div>
          </div>
        </li>
        {% for chat in page_obj %}
          {% if chat.user == request.user %}
            <li class="message sent flex flex-col items-start">
              <div class="message-text p-3 bg-green-100 rounded-lg">
                <div class="message-sender font-bold">
                  {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}
                </div>
                <div class="message-content">
                  {{ chat.message }}
                </div>
              </div>
            </li>
            <li class="message received flex flex-col items-start">
              <div class="flex items-center">
                <img src="{% static 'images/mateu-1.webp' %}" alt="MateU - Robot Tutor" class="w-16 h-16 rounded-full mr-4">
                <div class="message-text p-3 bg-gray-200 rounded-lg">
                  <div class="message-sender font-bold">
                    MateU
                  </div>
                  <div class="message-content {{ chat.response|add_class2:'new-class' }}">
                    {{ chat.response|safe }}
                  </div>
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="loading-spinner flex" id="loading-spinner">
        <div role="status">
          <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}
      <span class="page-number">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    </div>
  </div>
  <form class="message-form flex items-center justify-center p-4 bg-gray-200 fixed bottom-0 left-0 right-0" method="post">
    {% csrf_token %}
    <div class="flex justify-center lg:w-[100%] xl:w-[80%] lg:px-24 mb-36">
      <input type="text" name="message" class="message-input flex-grow p-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring focus:border-blue-300" placeholder="Type your message...">
      <button type="submit" class="btn-send bg-blue-500 text-white p-2 rounded-r-md hover:bg-blue-700">Wyślij</button>
    </div>
  </form>
  <form method="get" action="{% url 'start_new_chat' %}">
    <button type="submit" class="btn-new-chat bg-green-500 text-white p-2 rounded-md hover:bg-green-700">Rozpocznij nowy chat</button>
  </form>
  <form>
    <label for="chat" class="sr-only">Your message</label>
    <div class="flex items-center px-3 py-2 rounded-lg bg-gray-50 dark:bg-gray-700">
        <button type="button" class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
                <path fill="currentColor" d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"/>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 1H2a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"/>
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0ZM7.565 7.423 4.5 14h11.518l-2.516-3.71L11 13 7.565 7.423Z"/>
            </svg>
            <span class="sr-only">Upload image</span>
        </button>
        <button type="button" class="p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.408 7.5h.01m-6.876 0h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM4.6 11a5.5 5.5 0 0 0 10.81 0H4.6Z"/>
            </svg>
            <span class="sr-only">Add emoji</span>
        </button>
        <textarea id="chat" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your message..."></textarea>
        <button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100 dark:text-blue-500 dark:hover:bg-gray-600">
            <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                <path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
            </svg>
            <span class="sr-only">Send message</span>
        </button>
    </div>
</form>
</div>

<script src="{% static 'js/vendor/marked.min.js' %}" defer></script>
<script src="{% static 'js/chat-bot.js' %}" defer></script>
{% endblock %}
